/* Font styles */

body{
            font-family: 'Inter',sans-serif;
            padding: 20px;
            background-color: #F5F8FF;
        }
.serif{
            font-family: 'Noto Serif', serif;
        }

/* Navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    padding-left:50px ;
}

.navbar-menu{
    padding-right: 50px;
}

.navbar-menu a{
    color:#8987A1;
    text-decoration: none;

}

.navbar-menu ul{
    display: flex;
    list-style: none;
}

.navbar-menu li{
    padding-right:48px;
}

.li-1{
    color:black;
    font-weight: 700;
}

/* Banner Styles */

.banner{
    padding: 40px 20px;
    padding-top: 110px;
    max-width: 1480px;
    margin: auto;
}

.banner-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.banner-title{
    font-size:4rem;
    font-weight:700;
}

.title-color{
    color: #E95A08;
}

.banner-description{
    font-size: 1rem;
}

/* Plants Styles */

.plants{
    text-align: center;
    padding:40px 20px;
}

.plants h2{
    font-size:2rem ;
    margin-bottom: 15px;
}

.highlight{
    color: #E95A08;
}

.plants-description{
    max-width: 600px;
    margin:0 auto 50px ;
}

.plants-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    max-width: 1480px;
    margin: 0 auto;
}

.plants-card{
    background-color: white;
    border-radius: 8px;
    padding-bottom:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.plants-card:hover{
    transform: scale(1.03);
}

.plants-card img{
    width: 100%;
    height: auto;
}
.plants-card h3{
    margin-top:30px;
    font-size:1rem;
    font-weight:500;
}

.plants-card p{
    font-weight: 700;
    font-size:1rem;
}

.plants-card button{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius:5px;
    cursor: pointer;
    font-weight:600;
    font-size:16px;
    transition: background 0.2s;
}

.plants-card button:hover{
    background-color: #e55b00;
}

/* Mobile Device Responsive */

@media screen and(max-width:480px) {
    .navbar{
       flex-direction:column;
       text-align: center;
       padding:10px;
    }
    .navbar-menu{
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
}
