/* Font styles */

body{
            font-family: 'Inter',sans-serif;
            padding: 20px;
            background-color: #F5F8FF;
        }
.serif{
            font-family: 'Noto Serif', serif;
        }

/* Navbar styles */

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    padding-left:50px ;
}

.navbar-menu{
    padding-right: 50px;
}

.navbar-menu a{
    color:#8987A1;
    text-decoration: none;

}

.navbar-menu ul{
    display: flex;
    list-style: none;
}

.navbar-menu li{
    padding-right:48px;
}

.li-1{
    color:black;
    font-weight: 700;
}

/* Banner Styles */

.banner{
    padding: 40px 20px;
    padding-top: 110px;
    max-width: 1480px;
    margin: auto;
}

.banner-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.banner-title{
    font-size:4rem;
    font-weight:700;
}

.title-color{
    color: #E95A08;
}

.banner-description{
    font-size: 1rem;
}

/* Plants Styles */

.plants{
    text-align: center;
    padding:40px 20px;
}

.plants h2{
    font-size:2rem ;
    margin-bottom: 15px;
}

.highlight{
    color: #E95A08;
}

.plants-description{
    max-width: 600px;
    margin:0 auto 50px ;
}

.plants-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    max-width: 1480px;
    margin: 0 auto;
}

.plants-card{
    background-color: white;
    border-radius: 8px;
    padding-bottom:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
}

.plants-card:hover{
    transform: scale(1.03);
}

.plants-card img{
    width: 100%;
    height: auto;
}
.plants-card h3{
    margin-top:30px;
    font-size:1rem;
    font-weight:500;
}

.plants-card p{
    font-weight: 700;
    font-size:1rem;
}

.plants-card button{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius:5px;
    cursor: pointer;
    font-weight:600;
    font-size:16px;
    transition: background 0.2s;
}

.plants-card button:hover{
    background-color: #e55b00;
}

.flower{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding:60px;
    max-width: 1280px;
    margin: auto;
    background: #f0f4fa;
}

.image-box{
    flex: 1;
    min-width:300px;
    position: relative;
}

.image-box img{
    border-radius: 8px;
}

.img-1{
    width: 100%;
    height: auto;
}

.trusted-badge{
     position: absolute;
     top: -120px;
     left: 420px;
     width:286px;
     animation: spin 25s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.text-box{
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.text-box h2{
    font-size:2.5rem;
    font-weight: 700;
    margin-bottom:20px;
    margin-left:60px ;
    color:#000000;
}

.text-box li{
    font-size:22px;
    font-weight:400;
    margin-bottom:20px;
    margin-left: 60px;
    line-height:1.6;
}

.deals{
    max-width: 1200px;
    margin:auto;
    padding: 40px 20px;
}

.deals-heading{
    text-align: center;
    margin-bottom:16px;
}

.deals-heading h2{
    font-size:2.5rem;
    font-weight:bold;
    color: #000;
}

.deals-heading span{
    color: #E95A08;
}

.deals-heading p{
    font-size:22px;
    font-weight:400;
    color: #444;
    margin-bottom: 90px;
}

.deals-grid{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    margin-top:30px;
}

.deal-card{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    height: 140px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deal-card .large{
    width:520px;
}

.deal-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    transition: 0.3s;
}

.deal-card:hover img{
    filter: brightness(75%);
}

.deal-text{
    position: relative;
    z-index:1;
    font-size: 20px;
}

.deal-text span{
    display: block;
    font-size: 16px;
    margin-top:5px;
    text-decoration: underline;
}

/* Mobile Device Responsive */

@media screen and(max-width:576px) {
    .navbar{
       flex-direction:column;
       text-align: center;
       padding:10px;
    }
    .navbar-menu{
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
    }
    .navbar-menu li{
        list-style: none;
    }
    .navbar-menu a{
        text-decoration: none;
        font-size: 16px;
    }
    .cart{
        margin-top: 10px;
    }
    .flower{
        flex-direction: column;
    }
    .text-box, .image-box{
        padding: 10px;
    }
    .text-box{
        font-size: 22px;
    }
}
